<%= link_to 'Back', @category, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>Editing Category</span>
    </h2>

    <%= render 'form', category: @category %>
  </div>
</div>